/**
 * Link Page Editor - Editor Styles
 *
 * Styles applied only in the block editor context.
 */

.wp-block-extrachill-artist-platform-link-page-editor {
	.components-placeholder {
		min-height: 200px;
	}
}
